<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans bg-gray-100">
  <!---->
  <div class="bg-gray-100 ">
      <nav class=" px-10 mx-auto py-2 md:flex md:items-center md:justify-between">
        <div class="flex items-center justify-between">
            <h1><img class="h-12" src=" " alt="" /></h1>
          <button class="h-6 w-6 md:hidden" id="menu">
         
          </button>
        </div>
        <div class="hidden  flex-col items-center md:flex md:flex-row md:space-x-6 " id="links"> 
        
              <a href="" class=" text-xl hover:text-blue-500"> Home</a>
              <a href="#info.html" class=" text-xl hover:text-blue-500"> Dashbord</a>
              <a href="" class=" text-xl hover:text-blue-500"> Login</a>

              <button class="btn bg-blue-500 text-white px-8 py-3 hover:bg-blue-300 rounded-full">Signup</button>
        
        </div>

     
      </nav>
    </div>
    {{{ body }}}
</body>
</html>