<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<!--background color for the whole pafe-->
<body class="font-sans bg-gray-100">

  <!--navigation bar-->
  <div class="bg-gray-100 ">
      <nav class=" px-10 mx-auto py-2 md:flex md:items-center md:justify-between">
        <div class="flex items-center justify-between">
            <h1><img class="h-12" src=" " alt="" /></h1>
          <button class="h-6 w-6 md:hidden" id="menu">
         
          </button>
        </div>
        <div class="hidden  flex-col items-center md:flex md:flex-row md:space-x-6 " id="links"> 
        
              <a href="/" class=" text-xl hover:text-blue-500"> Home</a>
              {{#if loggedIn}}
              <a href="/dashboard" class=" text-xl hover:text-blue-500"> Dashbord</a>
               <button id="logout" class="btn-no-style">logout</button>
          {{else}}
              <a href="/login" class=" text-xl hover:text-blue-500"> Login</a>
              {{/if}}
              
             <!--signup button-->
              <button class="btn bg-blue-500 text-white px-8 py-3 hover:bg-blue-300 rounded-full">Signup</button>
        
        </div>
      </nav>
    </div>

    <main>
      {{{ body }}}
    </main>

    <footer>
        waterUdoin
    </footer>

     {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}

  {{#if Signup}}
  <script src="/public/js/signup.js"></script>
</body>
</html>