<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>waterUdoin</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans bg-gray-100">

  <!--navigation bar-->
  <div class="bg-blue-500 ">
    <nav class=" px-10 mx-auto py-2 md:flex md:items-center md:justify-between">
      <div class="flex items-center justify-between">
        <h1><img class="h-12" src=" " alt="" /></h1>
        <button class="h-6 w-6 md:hidden" id="menu">

        </button>
      </div>
      <div class="hidden  flex-col items-center md:flex md:flex-row md:space-x-6 " id="links">

        <a href="/" class="text-white text-xl hover:text-blue-500">Home</a>
        {{#if logged_in}}
        <a href="/dashboard" class="text-white text-xl hover:text-blue-500">Dashboard</a>
        <button id="logout" class="btn-no-style">Log Out</button>
        {{else}}
        <a href="/login" class="text-white text-xl hover:text-blue-500">Log In</a>
        {{/if}}

        <!--signup button-->
        <button id="logout" class="btn bg-yellow-300 text-sky-500 px-8 py-3 hover:bg-blue-300 rounded-full">Sign
          Up</button>

      </div>
    </nav>
  </div>

  <main>
    {{{ body }}}
  </main>

  <footer class="text-center">
    waterUdoin
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>