<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>waterUdoin</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body class="flex h-screen flex-col bg-blue-100 font-sans">
    <!--navigation bar-->
    <header class="bg-blue-700 shadow-md">
      <nav
        class="mx-auto px-10 py-3 md:flex md:items-center md:justify-between"
      >
        <div class="flex items-center justify-between">
          <h1 class="text-5xl font-bold text-white">water<span
              class="text-yellow-300"
            >U</span>doin<span class="text-yellow-300">?</span></h1>
        </div>
        <ul
          class="flex flex-col text-right text-lg md:flex md:flex-row md:space-x-6"
        >
          <li class="mt-2 md:mt-0"><a
              href="/"
              class="font-bold text-white hover:text-yellow-300"
            >Home</a>
          </li>
          <li class="mt-2 md:mt-0"><a
              href="/dashboard"
              class="font-bold text-white hover:text-yellow-300"
            >Dashboard</a>
          </li>
          {{#if logged_in}}
            <li class="mb-2 mt-4 md:mb-0 md:mt-0"><a
                href="#"
                id="logout"
                class="rounded-full bg-yellow-300 px-6 py-2 tracking-wide text-blue-700 shadow-md hover:bg-white hover:text-blue-700"
              >LOG OUT</a>
            </li>
          {{else}}
            <li class="mb-2 mt-4 md:mb-0 md:mt-0"><a
                href="/login"
                class="rounded-full bg-yellow-300 px-6 py-2 tracking-wide text-blue-700 shadow-md hover:bg-white hover:text-blue-700"
              >LOG IN</a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main class="mb-auto">
      <div id="container" class="mx-auto max-w-[1440px] p-10">{{{body}}}</div>
    </main>
    <footer class="bg-primary px-auto pb-4 pt-6 text-blue-700">
      <p class="text-center text-sm">Copyright © 2023
        <a
          href="https://github.com/CKBoytGT/waterUdoin"
          target="_blank"
          class="font-bold hover:underline"
        >waterUdoin</a>. All rights reserved.</p>
    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>