<!--chart image..until the chart is ready so we can add it here  //Maha-->
<div class="flex justify-between">
<div class="chart">
    <h2 class="text-4xl my-6">MONTHLY INTAKE</h2>
    <img src="./assets/basic-charts-column-chart.png" alt="">
</div>

<!--Today intake circles-->
<div class="text-4xl ml-20 my-6">
    TODAY'S INTAKE
</div>
    <div class="bullets">
        <div class="spans">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    

</body>
</html>
