<!--chart image..until the chart is ready so we can add it here  //Maha-->
<div class="flex justify-between">
<div class="chart">
    <h2 class="text-4xl my-6">MONTHLY INTAKE</h2>
    <img src="./assets/basic-charts-column-chart.png" alt="" width="300px">
</div>

<!--leaderboard-->
<div class="flex justify-end items-center">
    <div class="p-5  bg-gray-100 mr-40 mt-20">
        <h1 class="text-4xl mb-2">LEADERBOARD</h1>
        <table class="w-full shadow-xl">
            <thead class="bd-gray-50 border-b-2 border-gray-400">
                <tr>
                    <th class="p-3 text-m font-semibold tracking-wide text-left bg-blue-300">Username</th>
                    <th class="p-3 text-m font-semibold tracking-wide text-left bg-blue-300">Today's intake</th>
                    <th class="p-3 text-m font-semibold tracking-wide text-left bg-blue-300">Monthly intake</th>
                </tr>
                <tbody>
        <tr class="bg-blue-50 cursor-pointer duration-300">
                        
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 " >
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
    </tr>
      <tr class="bg-blue-100 cursor-pointer duration-300">
        <td class="py-6 px-6">
             <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100">
        </td>
    </tr>
      <tr class="bg-blue-50 cursor-pointer duration-300">
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
    </tr>
      <tr class="bg-blue-100 cursor-pointer duration-300">
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100">
        </td>
    </tr>
      <tr class="bg-blue-50 cursor-pointer duration-300">
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
    </tr>
                </tbody>
            </thead>
        </table>

    </div>
</div>

    <div>
    <div class="chart-container" style="position: relative; height:60vh; width:150vw">
<canvas id="line-chart"></canvas>
</div>
<script
    src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script>
	new Chart(document.getElementById("line-chart"), {
		type : 'line',
		data : {
			labels : [ 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1 ],
			datasets : [
					{
						data : [ 5, 6, 5, 6, 6,
								6, 5, 6, 5, 6, 5, 7, 5, 6, 7],
						label : "Last 30 Days of Intake",
						borderColor : "#40B0DF",
						fill : false
					}]
		},
		options : {
			title : {
				display : true,
				text : 'Chart JS Line Chart Example'
			}
		}
	});
</script>
</div>

<!--Today intake circles-->
<div class="text-4xl ml-20 my-6">
    TODAY'S INTAKE
</div>
    <div class="bullets">
        <div class="spans">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    

</body>
</html>
