<!--chart image..until the chart is ready so we can add it here  //Maha-->
<div class="flex justify-between">
<div class="chart">
    <h2 class="text-4xl my-6">MONTHLY INTAKE</h2>
    <img src="./assets/basic-charts-column-chart.png" alt="" width="300px">
</div>

<!--leaderboard-->
<div class="flex justify-end items-center">
    <div class="p-5  bg-gray-100 mr-40 mt-20">
        <h1 class="text-4xl mb-2">LEADERBOARD</h1>
        <table class="w-full shadow-xl">
            <thead class="bd-gray-50 border-b-2 border-gray-400">
                <tr>
                    <th class="p-3 text-m font-semibold tracking-wide text-left bg-blue-300">Username</th>
                    <th class="p-3 text-m font-semibold tracking-wide text-left bg-blue-300">Today's intake</th>
                    <th class="p-3 text-m font-semibold tracking-wide text-left bg-blue-300">Monthly intake</th>
                </tr>
                <tbody>
        <tr class="bg-blue-50 cursor-pointer duration-300">
                        
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 " >
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
    </tr>
      <tr class="bg-blue-100 cursor-pointer duration-300">
        <td class="py-6 px-6">
             <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100">
        </td>
    </tr>
      <tr class="bg-blue-50 cursor-pointer duration-300">
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
    </tr>
      <tr class="bg-blue-100 cursor-pointer duration-300">
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-100">
        </td>
    </tr>
      <tr class="bg-blue-50 cursor-pointer duration-300">
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
        <td class="py-6 px-6">
            <input type="text" class="border-none bg-blue-50 ">
        </td>
    </tr>
                </tbody>
            </thead>
        </table>

    </div>
</div>

<!--Today intake circles-->
<div class="text-4xl ml-20 my-6">
    TODAY'S INTAKE
</div>
    <div class="bullets">
        <div class="spans">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    

</body>
</html>
