<header class="flex  flex-wrap items-center justify-between px-10 md:px-64 mx-auto my-32 text-center">
  <div class="w-full md:w-1/2 ">
    <img class="h-auto w-80 mx-auto" src="images\droplet.png" alt="" />
  </div>

  <div class="w-full md:w-1/2 font-sans font-thin space-y-8 mt-20 md:mt-0">
    <h3 class="text-3xl">Water is your new best friend!</h3>
    <h2 class="text-5xl font-bold text-primary">Stay healthy & active</h2>
    <h4 class="text-2xl tracking-wider">
      By staying hydrated, you're giving your body what it needs to work and heal.
    </h4>
    <button class="bg-blue-500 text-white px-10 py-3 hover:bg-yellow-500 rounded-full">
      LOG IN TO TRACK
    </button>
  </div>
</header>

<div class="footer  bg-primary text-blue-700 px-10 md:px-48 py-20 px-auto ">
  <div>
    <p class="mt-32 text-center font-mono font-thin text-xs">Copyright © 2023 waterUdoin. All rights reserved.</p>
  </div>
</div>