<section
  class="h-full max-w-5xl mx-auto flex flex-col md:flex-row items-center text-black py-10 px-8 space-y-6 md:space-y-0 md:space-x-20">
  <div class="bg-white p-4 rounded-lg shadow-md flex flex-col w-full">
    <h2 class="text-2xl font-bold text-center mb-2 text-blue-700">Log In</h2>
    <form id="login-form" class="space-y-4">
      <div>
        <label class="block mb-2 font-semibold">Email</label>
        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-700" type="email"
          name="email" id="email" placeholder="Enter your email address" required />
      </div>
      <div>
        <label class="block mb-2 font-semibold">Password</label>
        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-700" type="password"
          name="password" id="password" placeholder="Enter your password" required />
      </div>
      <div class="text-center">
        <button
          class="bg-blue-700 hover:bg-yellow-300 text-white hover:text-blue-700 tracking-wide font-thin py-2 px-6 rounded-full text-xl shadow-md"
          type="submit">
          LOG IN
        </button>
      </div>
    </form>
  </div>
  <div class="bg-white p-4 rounded-lg shadow-md flex flex-col w-full">
    <h2 class="text-2xl font-bold text-center mb-2 text-blue-700">Register</h2>
    <form id="signup-form" class="space-y-4">
      <div>
        <label class="block mb-2 font-semibold">Username</label>
        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-700" id="register-name"
          type="text" placeholder="Enter your desired username" />
      </div>
      <div>
        <label class="block mb-2 font-semibold">Email</label>
        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-700" id="register-email"
          type="email" placeholder="Enter your email address" />
      </div>
      <div>
        <label class="block mb-2 font-semibold">Password</label>
        <input class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-700"
          id="register-password" type="password" placeholder="Enter a secure password" />
      </div>
      <div class="text-center">
        <button
          class="bg-blue-700 hover:bg-yellow-300 text-white hover:text-blue-700 tracking-wide font-thin py-2 px-6 rounded-full text-xl shadow-md"
          type="submit">
          SIGN UP
        </button>
      </div>
    </form>
</section>

<script src="/js/login.js" type="application/javascript"></script>