<body class="flex h-screen flex-col items-center justify-center bg-gray-200">
  <form class="mb-4 max-w-xs rounded bg-white px-8 pb-8 pt-6 shadow-md">
    <div class="mb-4">
      <label class="mb-2 block font-bold text-gray-700" for="weight">
        Weight (in pounds)
      </label>
      <input
        class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
        id="weight"
        type="number"
        placeholder="Enter your weight"
      />
    </div>
    <div class="mb-4">
      <label class="mb-2 block font-bold text-gray-700" for="exercise-time">
        Average Exercise Time (in minutes)
      </label>
      <input
        class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
        id="exercise-time"
        type="number"
        placeholder="Enter your exercise time"
      />
    </div>
    <div class="mb-4">
      <button
        class="focus:shadow-outline w-full rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none"
        id="calculate-button"
        type="submit"
      >
        Calculate Water Goal
      </button>
    </div>
    <div class="mb-4">
      <div id="result-container"></div>
    </div>
  </form>
  <script src="/js/waterGoal.js"></script>
</body>