/*the circles for today's intake -- dashboard page*/
.bullets{
    display: flex;
    padding: 25px;
}

.spans{
    flex: 1;
    display: flex;
    margin-left: 50PX;
}
/*each circle*/
span{
    width: 60px;
    height: 60px;
    background-color: #ddd;
    margin-right: 15px;
    border-radius: 50%;
    
  
}
/*the colorful circle*/

input{
    border: none;
    
}
/*chart image--temporarly..until we have the actual chart*/
.chart{
    margin: 80px;

}