[
  {
    "id": 1,
    "username": "thirsty_thurston",
    "email": "thirsty@example.com",
    "password": "examplepw1",
    "water_goal": 64
  },
  {
    "id": 2,
    "username": "hydraBeast",
    "email": "hydra@example.com",
    "password": "examplepw2",
    "water_goal": 64
  },
  {
    "id": 3,
    "username": "Bubblep0p",
    "email": "bubble@example.com",
    "password": "examplepw3",
    "water_goal": 64
  },
  {
    "id": 4,
    "username": "dranklord",
    "email": "drank@example.com",
    "password": "examplepw4",
    "water_goal": 64
  },
  {
    "id": 5,
    "username": "thequenchiest",
    "email": "quench@example.com",
    "password": "examplepw5",
    "water_goal": 64
  }
]
